python basics

In [1]:
print("Hello World")







#print('What is your age?')
#age = input()
#x = input('Enter a number: ')
#print(type(x))
#x = int(input('Enter a number: '))
#print(type(x))
#x = 5
#print('The number is '+ str(x))
a = int(input("first number is :"))
b = int(input("second number is :"))
print("the sum is", a+b)

Hello World

the sum is 7

In [1]:
# PROGRAM FOR reserved words list
import keyword
print(keyword.kwlist)
# total count of keywords
print(len(keyword.kwlist))
 # variable - when you create a variable you reserved a memory location to store data, it can be integer, string or float

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']
35

# python Identifiers

# Multiple Assignments

In [ ]:
# printing multiple variables in a single row
a,b,c = 1,2,3
print(a,b,c)
# multiple variable of single data types
a,b,c = "maau", 35, 35.14
print(a,b,c)
# single value to several variables
a = b= c = "maau"
print(a,b,c)

# finding memory addresss 
print(id(a))

# python data types - numbers, strings, list, dictionary, tuple
# numbers - integer, float, complex number
i = 1
j = 1.1
k = 2+3j
print(type(i))
print(type(j))
print(type(k))


a = True
b = False
x= 5
y=5
print('a and b is',a or b)
print(x==y or x>y)

In [22]:
# arithmatic operations
x = 2
y = 3
#addition
print(x+y)
#subtraction
print(x-y)
#multipication
print(x*y)
#float division operator
print('Float division of x/y =',x/y)
#integer division
print('Integer division of x/y=', x//y)
#modulus
print('modulus of x%y=',x%y)
#exponentiation
print('exponentiation of x raise to power y =',x**y)

5
-1
6
Float division of x/y = 0.6666666666666666
Integer division of x/y= 0
modulus of x%y= 2
exponentiation of x raise to power y = 8

In [39]:
# comparison operators
a= 20
b= 10
#greater than
print('{}>{} is'.format(a,b), a>b)
#less than
print('{}<{} is'.format(a,b), a<b)
#equal to
print('{}=={} is'.format(a,b), a==b)
#not eual to
print('{}!={} is'.format(a,b), a!=b)
#greater than or equal
print('{}>={} is'.format(a,b), a>=b)
#less or equal
print('{}<={} is'.format(a,b), a<=b)

a = True
b = False
x = 50
y = 100
#and operator
print(x==y and x<y)
#or operator
print(x==y or x<y)
#not operator
print(not x==y)
print(not x<y)

20>10 is True
20<10 is False
20==10 is False
20!=10 is True
20>=10 is True
20<=10 is False
False
True
True
False

In [56]:
print(id(a))
print(id(b))
print(id(c))
print(id("alphabets"))
print(id("Ruchira"))

140704211440712
140704211441032
140704211441352
2267020846640
2267000950448

In [48]:
# assignment operator
i = 1
i = i+1
print('simple expression value is',i)
#addition 
j=1
j+=1
print('assignment value is', j)
#subtraction
j=1
j-=1
print('assignment value is', j)
#multiplication
j=2
j*=2
print('assignment value is', j)
#float division
j=5
j/=2
print('assignment value is', j)
#integer division
j=5
j//=2
print('assignment value is', j)
#remainder 
j=5
j%=2
print('assignment value is', j)
#exponentiation
j=5
j**=2
print('assignment value is', j)

simple expression value is 2
assignment value is 2
assignment value is 0
assignment value is 4
assignment value is 2.5
assignment value is 2
assignment value is 1
assignment value is 25

In [58]:
#bitwise operator
#convert a number to binary
#syntax :'{0:08b}.format(number)'
a= 17
b = 10
print ("Binary number for {0} is {0:08b}".format(a))
print ("Binary number for {0} is {0:08b}".format(b))
#and
print("Binary and value is", a&b)
#or
print("Binary or value is", a|b)
#xor
print("Binary xor value is", a^b)
#not
print("Binary ones complement is", ~a)
#right shift
print("Binary right shift is", a>>b)
#left shift
print("Binary left shift is", a<<b)

Binary number for 17 is 00010001
Binary number for 10 is 00001010
Binary and value is 0
Binary or value is 27
Binary xor value is 27
Binary ones complement is -18
Binary right shift is 17408

In [69]:
#special operators
#Identity operator
#is operator
x = 10
print("memory location of x is",id(x))
y = 10
print("memory location of y is",id(y))
print(x is y)
x = "python"
print("memory location of x is",id(x))
y = "python"
print("memory location of y is",id(y))
print(x is y)
x = [1,2,3]
print("memory location of x is",id(x))
y = [1,2,3]
print("memory location of y is",id(y))
print(x is y)
#is not
print(x is not y)

#membership operator
#in operator
mylist=[1,2,3,4]
print(2 in mylist)
print(21 in mylist)
#not in
print(2 not in mylist)
print(21 not in mylist)

memory location of x is 140713888420936
memory location of y is 140713888420936
True
memory location of x is 1865911044912
memory location of y is 1865911044912
True
memory location of x is 1865981362752
memory location of y is 1865981385728
False
True
True
False
False
True

In [ ]:
#loop
#while loop
i = 1
while i<=6:
    print(i)
    i +=1
print("execution completed")

#infinite loop(ctrl +c to stop the loop)
i = 1
while i<=6:
    print(i)
   # i +=1
print("execution completed")

In [8]:
# If else statement
age = 15
if(age <= 18):
    print("user age is 18 or younger")
    
# if else statement
age = 19
if age <= 18: 
    print("user age is 18 younger")
else:
    print("user age is 18 above")
    
# if else elif
age = 18
if age < 18: 
    print("user age is 18 or younger")
elif age == 18:
    print("age is 18")
else:
    print("user age is 18 or above")

    #multiple elif
num = 1000
if 9 < num < 99:
    print(" 2 digit number")
elif 99< num < 999:
    print("3 digit is number")
elif 999 < num <9999:
    print("4 digit number")
else:
    print("not in range")
    
#nested if
num = -15
if num >=0:
    if num ==0:
        print("zero")
    else:
        print("+ve number")
else:
    print("-ve numbe

user age is 18 or younger
user age is 18 above
age is 18
-ve number
4 digit number

In [14]:
#for loop 
fruits = ["apple", "banana", "cherry", "mango","watermelon"]
for j in fruits:
    print(j)
# another ex in numbers
number = [1,2,3,4,5]
for x in number:
    print(x)

# find sum of all
number = [1,5,10,15,20,25]
sum = 0
for v in number:
    sum += v
print("the sum of all numbers is", sum)

#add else to for loop
number = [1,2,3,4,5]
for x in number:
    print(x)
else:
    print("no item left")

# program to print each character of a string
for b in "Ruchira":
    print(b)

apple
banana
cherry
mango
watermelon
1
2
3
4
5
the sum of all numbers is 76
1
2
3
4
5
no item left
R
u
c
h
i
r
a

In [19]:
# Range function
print (range(10))

# another ex
for x in range(6,10):
    print(x)
# using step size
for x in range (1,30,10): # 10 is stepsize
    print(x)

range(0, 10)
6
7
8
9
1
11
21

In [11]:
# indexing 
fruits = ["apple", "banana", "cherry", "mango","watermelon"]
for x in range (len(fruits)):
    print('fruit name is :', fruits[x])
    
# enumerate into index  
fruits = ["apple", "banana", "cherry", "mango","watermelon"]
for x, val in enumerate(fruits):
    print(x, val)

fruit name is : apple
fruit name is : banana
fruit name is : cherry
fruit name is : mango
fruit name is : watermelon
0 apple
1 banana
2 cherry
3 mango
4 watermelon

In [12]:
#nested loop
for x in range(1,4):
    for y in range (1,4):
        print(x,y)
# anothe nested loop
adj =["red","green","tasty",]
fruits =["apple","bananna","cherry"]

for x in adj:
    for y in fruits:
        print(x,y)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3
red apple
red bananna
red cherry
green apple
green bananna
green cherry
tasty apple
tasty bananna
tasty cherry

In [7]:
# breack and continue statement
fruits = ["apple", "banana", "cherry", "mango","watermelon"]
for j in fruits:
    print(j)
    if j == "mango":
        break
# anothe ex
number = [1,2,3,4,5]
for x in number:
    print(x)
    if x == 3:
        break
# anothe ex
i = 1
while i<=10:
    print(i)
    i += 1
    if i == 5:
        break
# nested ex
for x in range(1,4):
    for y in range (1,4):
        print(x,y)
        if x ==2 and y == 2:
            break

apple
banana
cherry
mango
1
2
3
1
2
3
4
1 1
1 2
1 3
2 1
2 2
3 1
3 2
3 3

In [15]:
# continuous statement 
i = 0
while i<=10:
    i+=1
    if i == 5: #(skip particular iteration, her it will skip 5)
        continue
    print(i)
    
# print even numbers in list
numbers = [1,2,3,4,5]
for x in numbers:
    if x % 2 !=0 :
        continue
    print(x)
#
for x in range(1,10):
    if x %2 !=0:
        continue
    print(x)

1
2
3
4
6
7
8
9
10
11
1
3
5
2
4
6
8

In [3]:
# strings
# positive index
mystring = "python for ml"
print(mystring[2])
# negative index
mystring = "python for ml"
print(mystring[-2])
# slicing
mystring = "python for ml"
print(mystring[7:10])

mystring = "python for ml"
print(mystring[:])

mystring = "python for ml"
print(mystring[:10])

mystring = "python for ml"
print(mystring[7:])

t
m
for
python for ml
python for
for ml

In [4]:
# creating string and checking the memory location
str1 = "python"
print(str1)
print("memory location before update",id(str1))

#trying to modify the string
str1 += " tutorials"
print(str1)
print("memory location after update",id(str1))

python
memory location before update 2547285101360
python tutorials
memory location after update 2547334031968

In [9]:
# concatenation (joining 2 or more strings)
s1 = "Hello "
s2 = "shaiiva"
print(s1 +s2)
# repeating stings
print(s1 * 3)

Hello shaiiva
Hello Hello Hello

In [16]:
# string comparison
print("Python"=="Python")
print("Python"=="PythoN")
#not equal to
print("Python"!="Python")
print("Python"!="PythoN")
# comparison
print("Python">"PYTHON")
print("Python"<"PYTHON")
#membership opertor
#in 
str1 = "All the best"
print('best'in str1)
#not in 
str1 = "All the best"
print('me'not in str1)

True
False
False
True
True
False
True
True

In [18]:
# create an empty list
list1 = []
print(list1)
#list of integers
list2 =[10,20,30,40,50]
print(list2)
#list of strings
list3 = ["python","java","c"]
print(list3)
#list of different datatypes
list4 = [50,95.5, "python"]
print(list4)

#list of lists
list5 =[[15,50],["python","datacenter"]]
print(list5)

[]
[10, 20, 30, 40, 50]
['python', 'java', 'c']

In [19]:
#list
#index and negative index
print(list2[-2])
print(list2[1])

#slicing from index 1 to index 3
print(list2[1:3])

40
20
[20, 30]

In [24]:
#updating the list
list3 = ["python","java","c"]
print("list b4 upadating the item",list3)
list3[2] = "R"
print("list after updating the item", list3)

#delete list element 
list3 = ["python","java","c"]
del list3[2]
print(list3)

#loop through a list 
month = ["jan","feb","march"]
for element in month:
    print(element)

[]
[10, 20, 30, 40, 50]
['python', 'java', 'c']
[50, 95.5, 'python']
[[15, 50], ['python', 'datacenter']]
40
20
[20, 30]
list b4 upadating the item ['python', 'java', 'c']
list after updating the item ['python', 'java', 'R']
['python', 'java']
jan
feb
march

In [38]:
# List methods 
#remove
list2 =[10,20,30,40,50]
list2.remove(10)
print(list2)
#pop
list2 =[10,20,30,40,50]
a =list2.pop(2)
print("value removed is", a)
print(list2)
#count
list2 =[10,20,30,40,50,10]
print(list2.count(10))
#reverse
list2 =[10,20,30,40,50]
list2.reverse()
print(list2)
#sort
list2 =[10,35,20,30,65,40,50]
list2.sort()
print('sorted list:',list2)
#reverse sort
list2 =[10,35,20,30,65,40,50]
list2.sort(reverse=True)
print(list2)
#string split
s1 = "welcome to python"
print(s1.split())

[20, 30, 40, 50]
value removed is 30
[10, 20, 40, 50]
2
[50, 40, 30, 20, 10]
sorted list: [10, 20, 30, 35, 40, 50, 65]
[65, 50, 40, 35, 30, 20, 10]
['welcome', 'to', 'python']

In [40]:
#list comprehension
cube=[]
for i in range(10):
    cube.append(i**3)
print(cube)
# or
cube=[i**3 for i in range(10)]
print(cube)

[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [43]:
# conactenation - addition of two lists
list1 = ["ruchira","shaiiva"]
list2 =["raj","shivsya"]
finalist = list1 +list2
print(finalist)

#lengh
list1 = [1,2,3,4,5]
print('lengh of the list',len(list1))

#repetition 
list1 =["python"]
print(list1*3)

#membership
list1 =[1,2,3,4,5]
print (2 in list1)
print (99 not in list1)
list1 =[1,2,3,4,5]

['ruchira', 'shaiiva', 'raj', 'shivsya']
lengh of the list 5
['python', 'python', 'python']
True
True

In [2]:
#smallest and largest number in the list

print("the smallest number in the list", min(list1))
print("the largest number in the list", max(list1))
#sum of all numbers in the list
print("sum of all numbers is", sum(list1))

#append and extend
list1 = ["raj","ruchira"]
list2 = ["shiv","shay"]
list1.append("minnie")
print(list1)
list1.append(list2)
print(list1)
list1.extend("minnie")
print(list1)
list1.extend(list2)
print(list1)

NameError: name 'list1' is not defined

In [9]:
# Python Fuctions
#function to welcome
def welcomeuser(name):
    """
    This function welcomes the user
    """
    print("Dear "+str(name)+", welcome to python tutorials")
#calling the function
welcomeuser("Ruchira")
welcomeuser("Shaiiva")
#Doc string
print(welcomeuser.__doc__)

Dear Ruchira, welcome to python tutorials
Dear Shaiiva, welcome to python tutorials

    This function welcomes the user

In [10]:
# function to check even or odd number

def verifyEvenOdd(num):
    """
    this function tells even or odd numbers
    """
    if (num % 2 ==0):
        print("{} is even number".format(num))
    else:
        print("{} is odd number".format(num))
# calling 
verifyEvenOdd(2)
verifyEvenOdd(3)
#Doc string
print(verifyEvenOdd.__doc__)

2 is even number
3 is odd number

    this function tells even or odd numbers

In [11]:
#function to add 2 numbers and return te output
def add(x,y):
    return x + y
#calling
add(10,25)

35

In [13]:
# declaring the global variable
globalvar ="This is a global variable"
def test_life():
    print(globalvar)
# calling
test_life()
#outside function
print(globalvar)

This is a global variable
This is a global variable

In [29]:
# local variable 

def test_life():
    localvar ="This is a local variable"
    print(localvar)
#calling
test_life()
print(localvar)

This is a local variable
This is a local variable

In [50]:
# function to welcome user with a message ( 2 arguments)
def welcomeuser(name,message):
    print("dear {0},{1}".format(name,message))
#calling
welcomeuser("Ruchira"," you are the BEST")

# default argument
def welcomeuser(name,message = "you are the BEST" ):
    print("dear {0},{1}".format(name,message))
#calling
welcomeuser("Ruchira")

# keyword argument 

def employeedetails(**user):
    """
    this function used to display the employee details
    """
    print("name:",user['name'])
    print("age:",user['age'])
    print("company:",user['company'])
#calling
employeedetails(name ="Ruchira", age ="35", company="xyz")
          
#arbitary arguments 
 
def welcomeuser(*names):
        """
        this function welcome all the users with greetings
        """
        print('the value entered by user', names)
        
        for name in s:
            print("dear "+ str(name)+", welcome to python")
#calling 
welcomeuser("ruchira","shaiiva","shivsya","shivraj")

dear Ruchira, you are the BEST
dear Ruchira,you are the BEST
name: Ruchira
age: 35
company: xyz
the value entered by user ('ruchira', 'shaiiva', 'shivsya', 'shivraj')
dear ruchira, welcome to python
dear shaiiva, welcome to python
dear shivsya, welcome to python
dear shivraj, welcome to python

In [2]:
# recursion function - recursion is the process of defining something in term of itself
#functions which can call it self are recursive
#factorial n(n-1)!

def factorial(num):
    return 1 if num == 1 else (num*factorial(num -1))

factorial(5)

120

In [4]:
#python errors
#syntax/parsing erroe
#runtime errors
#exception handling erroes
n1 = int(input("Enter 1st no:"))
print(n1)
n2 = int(input("Enter 2nd no:"))
print(n2)

try:
    print(n1/n2)
except ZeroDivisionError as e:
    print("(" + str(n1) + "/" + str(n2) + ")" + str(e))
    #print(e)
    #print(n1)+"/"+str(n2)+") = Divison by zero gives infinity")
    
#with adding else
#n1 = int(input("Enter 1st no:"))
#n2 = int(input("Enter 2nd no:"))
#try:
#    print(n1/n2)
#except ZeroDivisionError:
#    print("Any number divisible by zero is infinity")
#else:
#    print("The final value is",div)

Enter 1st no:1
1
Enter 2nd no:0
0
(1/0)division by zero

#####

In [18]:
x = {5:1, 1:2}
print(x) # outputs: This is a string
print(type(x)) # outputs

{5: 1, 1: 2}
<class 'dict'>